<% if(locals.errors){%>
    <% errors.forEach((err)=>{ %>
        <div class="alert alert-danger">
            <%= err.msg %>
        </div>  
    <% }) %>
<% } %>

<% if(locals.message && locals.message !=''){%>
    <div class="alert alert-success mt-2">
        <%= message %>
    </div>  
<% } %>
<% if(locals.error && locals.error !=''){%>
    <div class="alert alert-danger mt-2">
        <%= error %>
    </div>  
<% } %>
<% if(locals.success && locals.success !=''){%>
    <div class="alert alert-success mt-2">
        <%= success %>
    </div>  
<% } %>